# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Jupyter notebook
.ipynb_checkpoints/
.ipynb_checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite

# Backup files
*.bak